<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration</title>
</head>

<div>
</div>

            <p>
                <form action="/route/reg" method="post">
                    <div class="caption">Enter your nickname and password</div>
                    <input type="text" placeholder="nickname" name="nickname" <%=sharks[i].name; %>
                    <input type="text" placeholder="password" name="password" <%=sharks[i].character; %>
                    <button type="submit">Submit</button>
                </form>
            </p>
        </div>
    </div>
  </div>
</html>
